.App {
  text-align: center;
}

.App {
  background-color: red;
}

body {
  background-color: red !important;
}

.App nav.navbar {
  background-color: #040404;
}

.App .card {
  color: red !important;
  background-color: #181818;
}

.card-body .h5 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
